<div ng-controller="dodajPracownikaCtrl">
    <div class="well">
        <h2 class="text text-danger text-center">
            {{dodajPracownikaNazwa}}
        </h2>
    </div>
    <div class="col-sm-4">
        <!-- lewa kolumna-->
    </div>
    <div class="col-sm-4">
        <form class="form-group">
            <div class="well">
                <h3 class="text text-center text-success">Dane Uzytkownika</h3>
            </div>
            <div class="form-group">
                <label>Poeron Type</label>
                <select ng-model="newPerson.personType" class="form-control" type="text">
                    <option value="WORKER">Worker</option>
                    <option value="MANAGER">Manager</option>
                    <option value="STUDENT">Student</option>
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" ng-model="newPerson.name">
            </div>
            <div class="form-group">
                <label>LastName</label>
                <input type="text" class="form-control" ng-model="newPerson.lastName">
            </div>
            <div class="form-group">
                <label>birth</label>
                <input type="text" class="form-control" ng-model="newPerson.birth">
            </div>
            <div class="form-group">
                <label>telephonNumber</label>
                <input type="text" class="form-control" ng-model="newPerson.telephoneNumber">
            </div>

            <div class="form-group">
                <label>country</label>
                <input type="text" class="form-control" ng-model="newPerson.country">
            </div>

            <div class="form-group">
                <label>city</label>
                <input type="text" class="form-control" ng-model="newPerson.city">
            </div>
            <div class="form-group">
                <label>street</label>
                <input type="text" class="form-control" ng-model="newPerson.street">
            </div>

            <div class="form-group">
                <label>zipCode</label>
                <input type="text" class="form-control" ng-model="newPerson.zipCode">
            </div>

            <div class="form-group">
                <label>email</label>
                <input type="text" class="form-control" ng-model="newPerson.email">
            </div>

            <div class="form-group">
                <label>userName</label>
                <input type="text" class="form-control" ng-model="newPerson.username">
            </div>

            <div class="form-group">
                <label>password</label>
                <input type="text" class="form-control" ng-model="newPerson.password">
            </div>
            <br>
            <div>
                <button class="button btn-success" ng-click="dodajOsobe(newPerson)">
                    dodaj
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">

    </div>

</div>